<div class="inside-aside-container">
  <div class="profile-photo">
    <img src="../assets/img/avatar1.png" alt="" />
  </div>
  <nav class="navbar">
    <ul>
      <li>
        <a routerLink="dashboard"
          ><span class="material-icons"> dashboard </span>Dashboard</a
        >
      </li>
      <li>
        <a routerLink="finrelease"
          ><span class="material-icons"> add </span>Lançar Novo</a
        >
      </li>
      <li>
        <a routerLink="dashboard"
          ><span class="material-icons"> list </span>Ver todos</a
        >
      </li>
    </ul>
  </nav>
</div>
