<div class="inside-aside-container">
  <div class="img-box"></div>
  <div class="navbar-container">
    <nav>
      <ul>
        <li>
          <a routerLink="dashboard"
            ><span class="material-icons"> dashboard </span>Dashboard</a
          >
        </li>
        <li>
          <a routerLink="finrelease"
            ><span class="material-icons"> add </span>Lançar Novo</a
          >
        </li>
        <li>
          <a routerLink="listall"
            ><span class="material-icons"> list </span>Ver todos</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
