.inside-aside-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}

.img-box {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/img/avatar1.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 2px solid rgba(255, 255, 255, 0.911);
  box-shadow: inset 0px 0px 15px -7px #000000;
}

.navbar-container {
  width: 100%;
  padding-top: 40px;
}
.navbar-container li {
  border-bottom: 2px ridge #ffffff;
}
.navbar-container li:first-child a {
  border-top: 2px ridge #ffffff;
}

.navbar-container a {
  color: #fff;
  text-decoration: none;
}

.navbar-container a {
  display: flex;
  align-items: center;
  padding: 10px;
}

.navbar-container a:hover {
  background-color: #fff;
  color: #357cda;
}

.material-icons {
  margin-right: 5px;
}
