<div id="dashboard-container">
 <div class="grid-item percentual-container">
  <div class="percentual">
   <div class="title">
    <p>
     <span class="percent-symbol">%</span>
     <span class="first-letter">E</span>ntradas
    </p>
   </div>
   <div class="content">
    <div class="category" *ngFor="let item of mydata.arrdasentradas">
     <p>{{ item.name }}</p>
     <div class="progress-container">
      <span class="progress-percentual">{{item.perce | percent}}</span>
      <div class="progress">
       <span [ngStyle]="{'width': item.tospa}"></span>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="percentual">
   <div class="title">
    <p>
     <span class="percent-symbol">%</span>
     <span class="first-letter">S</span>aidas
    </p>
   </div>
   <div class="content">
    <div class="category" *ngFor="let item of mydata.arradassaidas">
     <p>{{ item.name }}</p>
     <div class="progress-container">
      <span class="progress-percentual">{{item.perce | percent}}</span>
      <div class="progress">
       <span [ngStyle]="{'width': item.tospa}"></span>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="grid-item balance-container">
  <div class="padding">
   <div class="content-values">
    <p>Entradas</p>
    <p class="right"><span></span>{{mydata.entradas | number}}</p>
   </div>
   <div class="content-values">
    <p>Saídas</p>
    <p class="right"><span>- </span> <span></span>{{mydata.saidas | number}}</p>
   </div>
   <div class="content-values">
    <p>Total</p>
    <p class="right"><span></span>{{mydata.entradas - mydata.saidas | number}}</p>
   </div>
  </div>
 </div>
 <div class="grid-item">
  <div class="content">
   <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting
    industry. Lorem Ipsum has been the industry's standard dummy text ever
    since the 1500s, when an unknown printer took a galley of type and
    scrambled it to make a type specimen book.
   </p>
  </div>
 </div>
</div>
