.container {
  display: flex;
  flex-direction: row;
  padding: 5px 0px;
  background-color: #094594;
  color: #fff;
}

ul {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li.clickable {
  cursor: pointer;
}

p {
  font-size: 20px;
  display: flex;
  align-items: center;
}

p.pcolor {
  color: rgba(255, 255, 255, 0.911);
}

p.title {
  letter-spacing: 3px;
  font-size: 36px;
}

span.material-icons.pig {
  font-size: 48px;
}

span.user {
  color: rgba(255, 255, 255, 0.911);
}

span.material-icons {
  margin-right: 3px;
  font-size: 36px;
}

span.logout {
  color: rgba(255, 255, 255, 0.911);
}
