.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: var(--color-secondary);
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;
    .line {
      height: 10px;
      width: 100%;
      background-color: var(--color-primary);
    }
    h1 {
      padding: 0.5rem;
      border: 3px solid var(--color-primary);
      border-radius: 3px;
      font-size: 3.6rem;
      font-weight: bold;
      color: var(--color-primary);
    }
    .text-shadow {
      font-weight: bold;
      position: absolute;
      color: var(--color-grey-5);
      opacity: 0.2;
      font-size: 4rem;
    }
  }
}
