.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 5px 0px;
  background-color: #094594;
  color: #fff;
}

.container div:nth-child(1) {
  padding-left: 180px;
  flex: 1;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 2em;
}

.pig {
  font-size: 48px;
}

.container div:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

li span {
  font-size: 24px;
}

li button {
  background-color: #094594;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
  margin: 0 10px;
}

.material-icons {
  color: #fff;
}
