<header class="container">
  <ul clas>
    <li class="clickable">
      <p class="title">
        <span class="material-icons pig"> savings </span>Bluebank
      </p>
    </li>
    <li>
      <p>
        <span class="material-icons user"> account_circle </span>{{ userName }}
      </p>
    </li>
    <li class="clickable">
      <p class="pcolor">
        <span class="material-icons settings"> settings </span>Configurações
      </p>
    </li>
    <li class="clickable">
      <p class="pcolor">
        <span class="material-icons logout">logout</span>Sair
      </p>
    </li>
  </ul>
</header>

<!-- <img [src]="myWheaterObj.icon" [alt]="myWheaterObj.description" />
         <p [ngStyle]="{ color: 'rgba(255, 255, 255, 0.911)' }">
           {{ myWheaterObj.temp }}ºC
         </p> -->
