.under-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: #094594;
}

.under-container div:nth-child(1) {
  flex: 1;
  background-color: #094594;
}

.under-container div:nth-child(2) {
  z-index: 10;
  box-sizing: border-box;
  flex: 7;
  background-color: #ebecee;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}
