/* grid definitions */

.grid-item-cell1 {
  position: relative;
  grid-area: cell1;
}

.grid-item-cell2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  grid-area: cell2;
}

.grid-item-cell3 {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  grid-area: cell3;
}

.grid-app-container {
  position: relative;
  display: grid;
  height: 100vh;
  min-width: 70%;
  background-image: linear-gradient(to right, #094594, #357cda);
  grid-template-rows: 67px auto;
  grid-template-columns: 180px auto;
  grid-template-areas:
    "cell1 cell1"
    "cell2 cell3";
}

/* absolute span line on top decoration */

.line-absolute-position {
  position: absolute;
  top: 10px;
  color: #fff;
  height: 10px;
  width: 100%;
  border-bottom: 2px solid #fff;
}

/* router-outlet*/

.grid-item-cell3 {
  box-shadow: inset 8px 8px 4px -8px #000000;
}
