* {
  box-sizing: border-box;
  font-size: 16px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 6px 6px 8px -8px #000000;
  background-color: #ebebeb;
  height: 100%;
}

/* DIV BOXES CONFIGURATION */

form {
  box-shadow: 0 0 0.3em rgb(36, 36, 36);
  background-color: #fff;
  padding: 20px 40px;
  /* box-shadow: 0 0 0.5em rgb(36, 36, 36); */
  width: 50%;
  border-radius: 3px;
}

div.input-group {
  margin: 20px 0;
}

label {
  margin-bottom: 5px;
  font-size: 12px;
  color: #094594;
  display: block;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: none;
  color: #357cda;
  border-bottom: 1px solid #094594;
}

input::placeholder {
  color: #357cda;
}

input:focus,
select:focus {
  outline: 1px solid #094594;
}

button.submit-btn {
  border: none;
  background-color: #094594;
  width: 100%;
  height: 40px;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 30px;
}

span.material-icons.md-48 {
  font-size: 48px;
  color: #fff;
}
